/*=======================================================              
              License: none (public domain)
=======================================================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*=====================================================
                      reset css end
=======================================================*/

@mixin transform($property) {
  -webkit-transform: $property;
      -ms-transform: $property;
          transform: $property;
}

@mixin transition($property) {
    -webkit-transition: $property;
       -moz-transition: $property;
        -ms-transition: $property;
         -o-transition: $property;
            transition: $property;
}

body {
  background: #333;
  color: #ddd;
  font-family: Verdana;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#menu-btn {
  position: absolute;
  top: 0.25em;
  left: 0.25em;
  font-size: 1.75em;
  z-index: 5;
}

#title {
  text-align: center;
  width: 10em;
  font-size: 2.5em;
}

#subtitle {
  opacity: 0;
  font-size: 0.75em;
  color: cyan;
}

#wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#toggles {
  position: absolute;
  background: #333e;
  left: -21em;
  height: 100vh;
  padding: 1em;
  align-self: start;
  z-index: 3;
  @include transition(400ms);
}

#draw-btn {
  background: #333e;
  color: #ddd;
  border: 1px solid #ddd;
  border-radius: 0.25em;
}

#instructions {
  margin: 2em 0;
  text-align: center;
}

.slide-container {
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 0.5em;
  width: 15em;
}

// Range Slider Styling
.slide-title {
  width: 15em;
  margin: 0.5em;
}

.slide-display {
  width: 3em;
}

.rangeslider {
  -webkit-appearance: none;
  width: 100%;
  height: 0.5rem;
  border-radius: 0.25rem;
  background: #ccc;
  outline: none;
  opacity: 0.7;
}

.rangeslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #555;
}

.rangeslider::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #555;
}