/*=======================================================              
              License: none (public domain)
=======================================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*=====================================================
                      reset css end
=======================================================*/
body {
  background: #333;
  color: #ddd;
  font-family: Verdana;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#menu-btn {
  position: absolute;
  top: 0.25em;
  left: 0.25em;
  font-size: 1.75em;
  z-index: 5;
}

#full-btn {
  position: absolute;
  top: 0.25em;
  right: 0.25em;
  font-size: 1.75em;
  z-index: 5;
}

#wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#toggles {
  position: absolute;
  background: #333e;
  left: -21em;
  height: 100vh;
  padding: 1em;
  align-self: start;
  z-index: 3;
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -ms-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
}

.instructions {
  margin: 2em 0;
  text-align: center;
}

#palettes-title {
  display: flex;
  flex-direction: row;
}

#draw-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#draw-btn, #clear-btn {
  background: #333;
  color: #ddd;
  margin: 1em 0;
  width: 10rem;
  height: 2rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
}

.slide-container {
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 0.5em;
  width: 15em;
}

.slide-title {
  width: 15em;
  margin: 0.5em;
}

.slide-display {
  width: 3em;
}

.rangeslider {
  -webkit-appearance: none;
  width: 100%;
  height: 0.5rem;
  border-radius: 0.25rem;
  background: #ccc;
  outline: none;
  opacity: 0.7;
}

.rangeslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #555;
}

.rangeslider::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #555;
}

#palettes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-palette {
  display: flex;
  flex-direction: row;
  margin: 1em 0;
  border: 1px solid #ddd;
  border-radius: 0.25em;
}

.color {
  width: 2rem;
  height: 2rem;
}

.color0 {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.color4 {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}